         nav {

                background-color: rgb(255, 227, 227);
            }

            nav ul{
                list-style: none;
                text-align: center;
                padding: 30px;
                margin-bottom: 0;
            }

            nav ul li{
                display: inline;
                margin:15px;
            }

            nav a{
                text-decoration: none;
            }

            nav a:hover{
                text-decoration: underline;
            }

            header {
                background-color:#f9dbc6;
                text-align: center;
                padding:10px;
            }

            section {
                background-color: rgb(255, 200, 189);
                padding:20px;
            }

            footer {
                background-color: antiquewhite;
                text-align: center;
                padding:10px;
            }

            article {
                background-color: rgb(255, 227, 227);
                padding: 15px;
                margin-bottom: 25px;
                border-radius: 15px;
                box-shadow: 0 4px 8px rgb(200, 173, 173);
            }

            a {
                color:rgb(196, 66, 66);
            }

            h1 {
                color:rgb(190, 126, 77);
            }

            * {
                font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: orange;
            }

            h2 {
                color:rgb(190, 126, 77);
            }

            h4 {
                color:rgb(190, 126, 77);
            }

            .foot-p {
                color:black;
            }

            header p {
                color:rgb(190, 126, 77);
            }



            