nav {
                background-color: rgb(255, 227, 227);
            }

            header {
                background-color:#f9dbc6;
                text-align: center;
            }

            section {
                background-color: rgb(255, 200, 189);
            }

            footer {
                background-color: antiquewhite;
                text-align: center;
            }

            article {
                background-color: rgb(255, 227, 227);
            }

            a {
                color:rgb(196, 66, 66);
            }

            h1 {
                color:rgb(190, 126, 77);
            }

            * {
                font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: orange;
            }